{%extends 'index1.html'%}
{%block title%}
О нас
{%endblock%}
{%block section%}
<div class="card-deck">
        <div class="card">
                <div class="card-body">
                        <h4 class="card-title">Важно</h4>
                        <p class="card-text">Этот сервис был создан в рамках дисциплины "Програмная инженерия" студентами группы ПИ20-1<br>
        Проект создавался с участием троих человек: Коланьков Никита, Королев Сергей, Шалимов Константин<br>
        Проект также есть на GitHub и полностью расписан на Jira</p>
                </div>
        </div>

        <div class="card">
                <div class="card-body">
                        <h4 class="card-title">Кто мы?</h4>
                        <p class="card-text">Мы студенты 3 курса Финансового университета при правительстве РФ<br>
        Занимаемся многими проектами ради интереса, с целью саморазвития<br>
        Многие наши проекты размещены на GitHub, так что если интересно - ссылки в конце страницы</p>
                </div>
        </div>

        <div class="card">
                <div class="card-body">
                        <h4 class="card-title">Зачем этот сервис сделан?</h4>
                        <p class="card-text"><h5>Этот сервис может пригодиться для:</h5>
        <ol>
                <li>Для быстрого изучения текстовых статей</li>
                <li>Для создания аудио книг (низкого качества озвучки, зато бесплатно)</li>
                <li>Для конвертации файлов под нужды людей с проблемами зрения</li>
                <li>Для демонстрации умения разработки Web приложений</li>
        </ol></p>
                </div>
        </div>
</div>
{%endblock%}