{%extends 'index.html'%}
{%block title%}
Личный кабинет {{user}}
{%endblock%}
{%block section%}
<div>
    <h2 class="me-3 py-2 text-light text-decoration-none">Привет, {{name}}!</h2>
    <div>
        <h3 class="me-3 py-2 text-light text-decoration-none">Товарищ {{l_name}},<br>
            Это ваш личный кабинет. Здесь можно увидеть, какие файлы вы конвертировали, их размер и дату конвертации</h3>

    </div>
    <label class="me-3 py-2 text-light text-decoration-none">Файлы:</label>
    <div  class="me-3 py-2 text-light text-decoration-none">
        {% if files_|length > 0 %}
        <table>
        {% for table in tables %}

        {{ table|safe }}

        {% endfor %}
        </table>
        {% else %}
        <h5>Пока вы не конвертировали ни одного файла,<br> но вы можете исправить это <a href="\uploader" style="color:#BC9D50;">здесь</a></h5>
    </div>

      {% endif %}
    <a href="/reset_passwd" class="btn btn-warning">Сбросить пароль</a>
    <a href="/logout" class="btn btn-danger">Выйти</a>
</div>

{% endblock %}

{%block footer%}
{{super()}}
{%endblock%}
