{%extends 'index.html'%}
{%block title%}
Личный кабинет {{user}}
{%endblock%}
{%block section%}
<div>
    <h2 class="me-3 py-2 text-light text-decoration-none">Привет, {{name}}!</h2>
    <div>
        <h3 class="me-3 py-2 text-light text-decoration-none">Товарищ {{l_name}},<br>
            Это ваш личный кабинет. Здесь можно увидеть, какие файлы вы конвертировали, их размер и дату конвертации</h3>

    </div>
    <a href="/reset_passwd" class="btn btn-warning">Сбросить пароль</a>
    <a href="/logout" class="btn btn-danger">Выйти</a>>

      
</div>

{% endblock %}

{%block footer%}
{{super()}}
{%endblock%}