{%extends 'index1.html'%}
{%block title%}
Как пользоваться?
{%endblock%}
{%block section%}

<div class="card-deck">
    <!-- карточка №1 -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">#1 Подготовка</h4>
            <p class="card-text">Для того чтобы начать конвертацию важно помнить, что сервис поддерживает два расширения<br>
        PDF и DOCX. Если же у вас другие расширения необходимо воспользоваться конвертором.</p>
        </div>
    </div>
    <!-- карточка №2 -->
    <div class="card">
        <div class="card-body">
            <h4 class="catd-title">#2 Начало работы</h4>
            <p class="card-text">Чтобы перейти к самой конвертации необходимо выбрать вкладку "UPLOADER".<br>
        В ней и будет происходить конвертация.</p>
        </div>
    </div>
    <!-- карточка №3 -->
    <div class="card">
        <div class="card-body">
            <h4 class="catd-title">#3 Как конвертировать</h4>
            <p class="card-text">Далее нет ничего сложного: Нажимаем на кнопку "Выбрать файл", выбираем, как не странно, файл который хотим конвертировать.<br>
        Нажимаем отправить.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="catd-title">#4 Получение файла</h4>
            <p class="card-text">Чтобы получить конвертированный файл надо только подождать. Как только исходный файл будет конвертирован - вы получите конечный файл.<br>
        Загрузка начнется автоматически.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="catd-title">#5 И что? Это Всё?</h4>
            <p class="card-text">Ну да, а что? Кто-то расчитывал на книгу пользователя и подробный гайд по операцонной системе?<br>
        У тебя есть интернет , надо - разберешься. Что, нет интернета? А как ты сюда попал?</p>
        </div>
    </div>
</div>

{%endblock%}