{%extends 'index.html'%}
{%block title%}
Как пользоваться?
{%endblock%}
{%block section%}

<div class="card-deck">
    <div class="card">
        <div class="card-body">
           <ul>
        <ul><h4><span id="swt">Озвучивание текста без перевода</span></h4></ul>
        <li><p>Убедитесь, что ваш файл использует расширение pdf или docx, иные расширения на данный момент не поддерживаются сервисом. Если у вас другие расширения необходимо воспользоваться конвертором.</p></li>
        <li><p>Выберите вкладку «UPLOADER»/«Загрузка файлов»</p></li>
        <ul><img src="static/img/uploader.jpg" alt=""><img src="static/img/uploader_menu.jpg" alt=""></ul>
        <li><p>Нажмите на кнопку «Выберите файл» и выберите файл, который вы хотите озвучить.</p></li>
        <ul><img src="static/img/uploader_button.jpg" alt=""></ul>
        <li><p>Нажмите на кнопку «Отправить»</p></li>
        <ul><img src="static/img/uploader_send.jpg" alt=""></ul>
        <li><p>Как только исходный файл будет озвучен он автоматически загрузится на ваш компьютер. </p></li>
        <p>(Не закрывайте вкладку до завершения процесса)</p>

    </ul>
        </div>
    </div>
</div>

{%endblock%}
