<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/img/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/fontello.css">
        <link rel="stylesheet" href="static/css/style.css">
        <script href="static/App.js"></script>
        <title>{%block title%}{%endblock%}</title>
    </head>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar sticky-top navbar-light bg-light">
                        <h4 class="my-0 mr-md-auto front-weight-normal">Convertor</h4>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="/main">Главная</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О нас</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="/uploader">Загрузка файлов</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="/guide">Инструкция</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="/settings">Настройки</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="/register">Регистрация</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Войти</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <body>
        <section>
            <div id="main-content">
                {%block section%}{%endblock%}
            </div>
        </section>
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
    <footer id="footer" style=color:white>
       {%block footer%}
        <ul>
            <p>Ссылки на гит: </p>
            <li>
            <a class="me-3 py-2 text-light text-decoration-none" href="https://github.com/AgDeSs">Коланьков Никита</a>
            </li>
            <li>
            <a class="me-3 py-2 text-light text-decoration-none" href="https://github.com/MikeMarshall36">Королев Сергей</a>
            </li>
            <li>
            <a class="me-3 py-2 text-light text-decoration-none" href="https://github.com/VladKsenobayt">Шалимов Константин</a>
            </li>
            <li>
            <a class="me-3 py-2 text-light text-decoration-none" href="https://github.com/Descripiface">Рыжов Василий</a>
            </li>
            <li>
                <a class="me-3 py-2 text-light text-decoration-none" href="https://github.com/NonHexagon/Text_to_audio_service">Репозиторий проекта</a>
            </li>
        </ul>
        {%endblock%}
    </footer>
</html>