<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_main_page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
 <ul>
     <li style="--i:6"> <a href="/guide">Инструкция</a></li>
     <li style="--i:5"> <a href="/uploader">Загрузчик</a></li>
     <li style="--i:4"> <a href="/settings">Настройки</a></li>
     <li style="--i:3"> <a href="/about">О нас</a></li>
     <li style="--i:2"> <a href="/register">Регистрация</a></li>
     <li style="--i:1"> <a href="/account">Личный кабинет</a></li>
 </ul>
</body>
</html>