<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_main_page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
 <ul>
     <li style="--i:5"> <a href="/guide">Guide</a></li>
     <li style="--i:4"> <a href="/uploader">Uploader</a></li>
     <li style="--i:3"> <a href="/settings">Settings</a></li>
     <li style="--i:2"> <a href="/about">About</a></li>
     <li style="--i:1"> <a href="/register">Регистрация<br><small>demo</small></a></li>
 </ul>
</body>
</html>