<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>_projects</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
 <ul>
     <li style="--i:6"> <a href="https://github.com/MikeMarshall36/Python_projects/tree/main/Asteroids(stable_core)">Asteroid game</a></li>
     <li style="--i:5"> <a href="https://github.com/MikeMarshall36/Python_projects/tree/main/Space_invaders">Space invaders game</a></li>
     <li style="--i:4"> <a href="https://github.com/MikeMarshall36/Python_projects/tree/main/GUI_port_scanner">GUI port scanner</a></li>
     <li style="--i:3"> <a href="https://github.com/MikeMarshall36/Python_projects/blob/main/telegrammBot.py">Telegram authentication</a></li>
     <li style="--i:2"> <a href="https://github.com/MikeMarshall36/Flask_tries">Flask site + SQLite db</a></li>
     <li style="--i:1"> <a href="/">Back home</a></li>

 </ul>
</body>
</html>