{%extends 'index.html'%}
{%block title%}
Регистрация
{%endblock%}
{%block section%}
<h1 class="me-3 py-2 text-light text-decoration-none">Регистрационная форма</h1>
<form method="post">
        <label for="user_name" class="me-3 py-2 text-light text-decoration-none">Имя пользователя (никнейм)</label>
      <input type="text" class="me-3 py-2 text-light text-decoration-none" name="user_name" id="user_name" placeholder="Введите имя пользователя"><br>
      <small class="me-3 py-2 text-light text-decoration-none">Оно будет использоваться как уникальный номер,<br>так что изменить его будет нельзя!</small>
      <br>
    <label class="me-3 py-2 text-light text-decoration-none">Ваше имя</label>
    <input class="me-3 py-2 text-light text-decoration-none" type="text" name="f_name" id="f_name" placeholder="Имя" required><br>
    <label class="me-3 py-2 text-light text-decoration-none">Ваша фамилия</label>
    <input type="text" name="l_name" id="l_name" placeholder="Фамилия" required><br>
    <label class="me-3 py-2 text-light text-decoration-none">Почта</label>
    <input type="email" name="email" id="email" placeholder="example@mail.com" required><br>
    <small class="me-3 py-2 text-light text-decoration-none">Так как мы не хотим чтобы вы запоминали тысячи паролей,<br>пароль будет каждый раз приходить на почтовый адрес</small><br>
    <input href="/login.html" type="submit" class="btn btn-secondary" value="Зарегистрироваться">
    <br>
    <small class="me-3 py-2 text-light text-decoration-none">Если у вас есть уже аккаунт, вам сюда</small>
    <a href="/login" class="btn btn-warning">Войти</a><br>
    <a href="/" class="btn btn-danger">Отменить</a>
</form>
{%endblock%}

{%block footer%}
{{super()}}
{%endblock%}