{%extends 'index.html'%}
{%block title%}
Настройки
{%endblock%}
{%block section%}
<div class="card-deck">
        <div class="card">
                <div class="card-body">
                    <h3>Здесь нет контента...</h3>
                    <h5>На данной странице будут настройки</h5>
                    <h6>Но на данный момент здесь пустота</h6><br>
                    <p>Держи мем (он смешной, честно)</p>
                    <img src="static/img/mem.jpg" alt="Главное верить" width="475" height="475">
                </div>
        </div>
</div>
{%endblock%}