{%extends 'index.html'%}
{%block title%}
Загрузка файлов
{%endblock%}
{%block section%}
{% if error %}
    <p class=error style="color: white;"><strong style="color: red;">Произошла ошибка:</strong > {{ error }}</p>
  {% endif %}
<div class="container">

</div>
<div>
      <form action = "/textloader" method = "POST"
         enctype = "multipart/form-data">
          <div>
              <label><h3 class="me-3 py-2 text-light text-decoration-none">Ввести текст</h3></label><br>
            <input type="text" class="textloader" id="inp_text" name="inp_text" placeholder="Введите текст для озвучки" style="width: 50%;" maxlength="86"><br>
              <small class="me-3 py-2 text-light text-decoration-none">Ограничение по длине в 86 символов</small><br>
              <label>Пример текста</label><br>
              <h4 class="me-3 py-2 text-light text-decoration-none">How long how long will I slide
Separate my side I don't<br>
I don't believe it's bad <br>
Slit my throat<br>
It's all I ever
              </h4>
          </div>
          <br>
         <input type ="submit" class="btn btn-light"/>
      </form>
</div>

{% endblock %}

{%block footer%}
{{super()}}
{%endblock%}