{%extends 'index.html'%}
{%block title%}
Загрузка файлов
{%endblock%}
{%block section%}
<div>
      <form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
          <div class="mb-3">
            <input class="form-control" type="file" id="formFile" name = "file" accept=".pdf, .docx">
          </div>
         <input type ="submit" class="btn btn-light"/>
      </form>
</div>
<div>
    <h4>Чтобы проверить работу сервиса, можно создать файл .docx</h4>
    <h6>Используйте этот текст:</h6>
    <p>And yeah I live my life<br>
        Like a broken-hearted <b>failure</b><br>
I'm trying to shed some light<br>
On the scars left by the razors<br>
        What else can I say?<br>
What else can I say?<br>
What else can I say?<br>
What else can I<br>
Say for myself<br>
        I'm <b>terrified</b><br>
    </p>
</div>
{% endblock %}