{%extends 'index.html'%}
{%block title%}
Загрузка файлов
{%endblock%}
{%block section%}
{% if error %}
    <p class=error style="color: white;"><strong style="color: red;">Произошла ошибка:</strong > {{ error }}</p>
  {% endif %}
<div class="container">

</div>
<div>
      <form action = "/uploader" method = "POST"
         enctype = "multipart/form-data">
          <div class="mb-3">

              <label><h1 class="me-3 py-2 text-light text-decoration-none">Загрузить файл</h1></label>
            <input class="form-control" type="file" id="formFile" name = "file" accept=".pdf, .docx, .txt">
          </div>
          <div>
              <label><h3 class="me-3 py-2 text-light text-decoration-none">Ввести текст</h3></label><br>
            <input type="text" id="inp_text" name="inp_text" placeholder="Введите текст для озвучки" style="width: 50%;">
          </div>
          <br>
         <input type ="submit" class="btn btn-light"/>
      </form>
</div>
<div>
    <h2 class="me-3 py-2 text-light text-decoration-none">Чтобы проверить работу сервиса, можно создать файл '{{ s_name }}' с расширением .docx или .pdf</h2>
    <h3 class="me-3 py-2 text-light text-decoration-none">Используйте этот текст:</h3>
    <p id="just-new-line" class="me-3 py-2 text-light text-decoration-none"> {{ text }} </p>
</div>
{% endblock %}

{%block footer%}
{{super()}}
{%endblock%}