@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}
body 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #80bac2;


}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis:80%;
}
ul 
{
	position: relative;
	transform: skewY(-15deg);
    
}
ul li 
{
	position: relative;
	list-style: none;
	width: 200px;
	padding: 15px;
	background: #DCDCDC;
    z-index: var(--i);
    transition: 0.5s;

	
}

ul li:hover
{
    background: #096673;
    transform: translateX(-50px);
}

ul li::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #D3D3D3;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

ul li:hover::before
{
    background: #0a3a40;
}

ul li::after
{
    content: '';
    position: absolute;
    top: -40px;
    left:0;
    width: 100%;
    height: 40px;
    background: #d5e4e5;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

ul li:hover::after
{
    background: #0b4e57;
}

ul li a
{
    text-decoration: none;
    color: #0a3a40;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05 em;
    transition: 0.5s;
}

ul li:hover a
{
    color: #fff;
}

ul li:last-child::after
{
    box-shadow: -110px 120px 22px rgba(0,0,0,0.25);
}

